<div class="main container-fluid d-flex justify-content-center align-items-start" style="height: 100vh; width: 100vw">
    <div class="rowd-flex justify-content-center">
        <div class="headerHome row d-flex justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                <img src="assets/img/logo.png" class="img-fluid"
                    style="padding-bottom: 2vh; padding-top: 2vh; width: 60vw" alt="Responsive image" />
            </div>
            <div class="row">
                <div class="imgHeaderHome col-12 d-flex justify-content-center"><img style="height: 25vh; width: 90vw; border-radius: 10px; border: solid 2px whitesmoke;"
                        src="assets/img/vaccine_01.webp" class=" img-fluid" alt=""></div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">

            <div class="menuHome col-3 ">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <i class="fas fa-syringe" style="font-size: 50px; "></i>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p>ลงทะเบียนรับวัคซีน</p>
                    </div>
                </div>  
            </div>

            <div class="menuHome col-3 ">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <i class="fas fa-syringe" style="font-size: 50px; "></i>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p>นัดรับวัคซีน</p>
                    </div>
                </div>  
            </div>

            <div class="menuHome col-3 ">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <i class="fas fa-syringe" style="font-size: 50px; "></i>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p>ประวัติการรับวัคซีน</p>
                    </div>
                </div>  
            </div>

            <div class="menuHome col-3 ">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <i class="fas fa-syringe" style="font-size: 50px; "></i>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p>ตรวจสอบ Certificate</p>
                    </div>
                </div>  
            </div>

            <div class="menuHome col-3 ">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <i class="fas fa-syringe" style="font-size: 50px; "></i>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p>Vaccine Certificate</p>
                    </div>
                </div>  
            </div>

            <div class="menuHome col-3 ">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <i class="fas fa-syringe" style="font-size: 50px; "></i>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p>แบบประเมินอาการหลังฉีดวัคซีน</p>
                    </div>
                </div>  
            </div>

            <div class="menuHome col-3 ">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <i class="fas fa-syringe" style="font-size: 50px; "></i>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p>Lab Certificate</p>
                    </div>
                </div>  
            </div>

            <div class="menuHome col-3 ">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <i class="fas fa-syringe" style="font-size: 50px; "></i>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p>Travel Health Certificate</p>
                    </div>
                </div>  
            </div>

            <div class="menuHome col-3">

            </div>

        </div>
    </div>



</div>