.main{
    background-color:#8cabda ;
}
.headerHome{
    width: 100vw;
    background-color:darkgreen;
    opacity: 10px;
    padding-bottom: 50px;
    border-radius: 0px 0px 30px 30px;
    /* border: solid 2px #000; */
}

.menuHome{
    background-color: #f2f0f3;
    width: 30vw;
    height: 15vh;
    margin:10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.menuHome i{
    display: flex;
    justify-content: center;
    color: deepskyblue;
    padding-top: 10px;
    border: #000000;
}
.menuHome p{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1vh;
}