/* *{
    border: solid 1px #F00; 
     background-color: #8cabda;
} */

.main{
    background-color:#8cabda ;
}


.select-see{
    border: solid 3px green;
}
input{
    width: 20px;
    height: 20px;
}